/*     dot is for class # for id      */

body {
	font-family: 'Raleway', sans-serif;
	background-image: url("./media/background.jpg");
	background-color: lightblue;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
}
p, div {
    font-family: 'Raleway';
}

a {
	font-size: 15px;
	font-weight: 900;
	margin-left: -5px;
	margin-right: -5px;
}



body > div > div:nth-child(3) > div.col-md-8 > h1 {
	text-align: center;
}
body > div > div:nth-child(3) > div.col-md-8 > h3 {
	text-align: center;
}
#congrats{
	background-color: white;
	border-radius:0 25px 25px 0;
	position: relative;
}
#congrats > p:nth-child(1) {
	text-align: center;
}

#congrats > p:nth-child(1) > img {
	height: 80px;
}
#facts {
	background-color: white;
	 border-radius:25px 0  0 25px;
}
#facts > p {
	padding: 10px;
	font-size: 20px;
}
body > div > div:nth-child(4) > img {
	width: 100%;
	margin-top: 18px;
}


#admin {

}

#facts > p > span {
	font-weight: 500;
	text-decoration: underline;
}


#menulogo{
	height: 40px;
	display:none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}  

#logo{
	height:125px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#center {
	width: 100%;
    margin: 0 auto; 
}

.item > p {
	background-color: red;
	height: 40px;
}
.active {
 	background-color: #cccccc;
	width: auto;
}

.item:hover {
	background-color: #cccccc;
	cursor: default;
	
}




#hotel {
	width: 90%;
	margin-left:5%;
}
#hotel > div:nth-child(2) > div > div:nth-child(2) > a {
	font-size: 20px;
	float:right;
}
#hotel > div:nth-child(2) > div > div:nth-child(3) > p {
	font-size: 20px;
	float:right;
}

#hotel2 {
	background-color: white;
	border-radius: 25px; 
	margin-left: 5%; width: 90%;
}
#hotel2 > div {
	padding: 25px;
}
#hotel2 > img {
	width: 100%; border-radius: 0 0 25px 25px;
}










.border {
	border:    1px solid black;
}



.button {
	float:right;
	background-color: red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: default;
	width:100%;
}

#statistics{
	margin: 50px;
	margin-left: auto ;
  	margin-right: auto ;

}
#statistics > tbody > tr:nth-child(1){
	font-size: 24px;
	font-weight: 900;

}

@media screen and (max-width: 1000px) {
	#statistics{
		width: 100;
	}
	#menu{
		width: 100%;
	}
}
#excursions {
	border: 1px solid black;
	background-color: white;
	overflow: auto;
	margin-top: 15px;
}
#excursions > p {
	width: 65%;
	float:left;
	padding:20px;
}
#excursions > img {
	height:275px;
	overflow:hidden;
}
#words > p > span{
	font-weight: 500;
	font-size:2em;

}
#biggie {
	display:show;
	border-radius:0;
}
#confirm {
	font-style: italic;
}
#words > p > span:nth-child(9) {
	color:red;
	float:right;
}
#words > p > span:nth-child(7){
	color:red;
	float:right;
}
#words > p > span:nth-child(8){
	color:red;
	float:right;
}
#words > p > span:nth-child(9){
	color:red;
	float:right;
}
#popup {
	display:none;
	border-radius:0;
}
#flight{
	font-size: 18px
}
#flight > h1 {
	padding:30px 0 0 30px;
}
#flight > div:nth-child(3){
	background-color: white;
	border-radius: 25px;
	margin-left:5%;
	width: 90%;
}
#flight > div:nth-child(3) > p:nth-child(1) {
	padding: 30px;
	float:left
}
#flight > div:nth-child(3) > p:nth-child(2) > b {
	text-decoration: underline;
}
#flight > div:nth-child(3) > p:nth-child(2) {
	padding: 30px;
	float:right;
}
#flight > div:nth-child(3) > p:nth-child(1) > b {
	text-decoration: underline;
}
#flight > div:nth-child(3) > p:nth-child(3) {
	padding: 30px;
	float:left;
}

#flight > div:nth-child(3) > img {
	width: 100%;
	border-radius: 0 0 25px 25px;
}

.container-head {
	margin-left: auto ;
  	margin-right: auto ;
}
.container-head > img {
    display:block;
    margin:auto;
    height: 75px;
}
.center {
    overflow:hidden;
    text-align: center;
}
.container {
	background: rgba(255,255,255, 0.5);
	border-radius: 25px;
	margin-top: 20px;
	margin-left: auto ;
  	margin-right: auto ;
  	height:100%;
}

#sample > img{
	height:250px;
}

@media screen and (max-width: 1000px) {
	#sample > img{
		width: 50%;
		height: 50%;
		float:right;
	}
	#words {
		float:left;
		width: 50%;
	}
}


@media screen and (max-width: 768px) {
	body > div > nav {
		margin-top: 20px;
	}
}


@media screen and (max-width: 425px) {
	#sample > img{
		width: 100%;
		height: 50%;
		float:right;
	}
	#words {
		float:left;
		width: 100%;
	}
}

footer {
	padding:  10px 0 10px 0;
	border-radius: 0 0 25px 25px;
	width: 80%;
	margin-left: auto ;
  	margin-right: auto ;
}
footer > p {
	padding:10px;
}
.footsie {
	font-size:16px;
	padding: 20px
}
.footsie > p {
	text-align: center;
}
